:root {
  --nav-bg-color: #f6f4ff;
  --nav-hover-color: #e2dafd;
  --main-bg-color: #d8d0fe;
  --accent-color: #9979f9;
  --hover-accent-color: #8f72e6;
  --text-color: #374151;
  --heading-color: #111827;
  --light-text-color: #5b5c61;
  --lightest-text-color: #7e8085;
  --sidebar-border-color: #d8d0fe;
  --focus-input-color: #93b1e7;
  scrollbar-color: #c4bfd6 #eceaf5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --nav-bg-color: #2f2d33;
    --nav-hover-color: #242129;
    --main-bg-color: #28272b;
    --text-color: #D1D5DB;
    --heading-color: #E5E7EB;
    --light-text-color: #aaaeb4;
    --lightest-text-color: #73747a;
    --sidebar-border-color: #212024;
    scrollbar-color: #4c4b53 #343238;
  }

  .icon {
    filter: invert(80%);
  }
}

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(./fonts/inter-variablefont_slntwght-webfont.woff2) format("woff2"),
       url(./fonts/inter-variablefont_slntwght-webfont.woff) format("woff");
}

*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Inter', Arial, Helvetica, sans-serif
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  color: var(--text-color)
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--heading-color);
}

/* ------------ */
/*    Layout    */
/* ------------ */

body {
  grid-template-columns: 240px 1fr;
  /* height: 100vh; */
}

.main {
  background-color: var(--main-bg-color);
  grid-template-rows: min-content 1fr;
}

.header {
  background-color: var(--nav-bg-color);
}

.sidebar {
  background-color: var(--nav-bg-color);
}

.grid {
  display: grid;
}

.text-decor-none {
  text-decoration: none;
  color: inherit;
}

.align-items-center {
  align-items: center;
}

/* ------------ */
/*    Sidebar    */
/* ------------ */

.sidebar {
  grid-template-rows: repeat(3, min-content);
  border-right: 1px solid var(--sidebar-border-color);
}

.sidebar .logo {
  grid-template-columns: 2rem min-content;
  gap: 10px;
  margin: 12px 15px;
}

.logo h1 {
  line-height: 0;
}

hr {
  border: none;
  height: 1px;
  background-color: var(--main-bg-color)
}

.nav a {
  color: inherit;
  padding: 5px 0;
  grid-template-columns: 30px min-content;
  gap: 8px;
  border-radius: 5px;
}

.nav a:hover {
  background-color: var(--nav-hover-color);
}

.nav a img,
.right .project-actions img {
  justify-self: center;
  height: 1.2rem;
}

/* --------------- */
/*    Header Top   */
/* ------------ ---*/

.header {
  flex: 1;
  grid-template-rows: min-content 1fr;
  padding: 10px min(35px, 3%);
  gap: 10px;
}

.header .top,
.header .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .top form {
  width: 45vw;
  grid-template-columns: 1fr min-content;
  gap: 15px;
}

.header .top input {
  border-radius: 5px;
  border: 2px solid transparent; /* don't move down by 2px when focused */
  background-color: var(--main-bg-color);
}

.header .top input:focus {
  border: 2px solid var(--focus-input-color);
  outline: none;
}

.header .top form button {
  background: 0 / contain no-repeat url(images/icons/search.svg);
  border: none;
  height: 25px;
  width: 25px;
  cursor: pointer; 
}

.user {
  grid-template-columns: 30px min-content;
  gap: 15px;
}

.avatar {
  height: 40px;
  width: 40px;
  background-color: var(--main-bg-color);
  background: center / cover;
  border-radius: 50%;
}

/* ------------------- */
/*    Header  Bottom   */
/* ------------------- */

.greeting-wrapper {
  grid-template-columns: min-content 1fr;
  gap: 15px;
}

.greeting-wrapper .avatar {
  height: 80px;
  width: 80px;
}

.greeting {
  grid-template-rows: repeat(1fr);
  align-content: center;
}

.actions {
  grid-template: min-content / repeat(3, 1fr);
  align-self: end;
  padding-bottom: 8px;
}

.actions button {
  border: none;
  border-radius: 5px;
  background-color: var(--accent-color);
  padding: 5px 20px;
  color: var(--nav-bg-color);
  cursor: pointer;
}

.actions button:hover {
  background-color: var(--hover-accent-color);
}

/* --------------*/
/*   Main page   */
/* --------------*/

.page {
  grid-template-columns: 3fr 1fr;
}

.rightbar {
  grid-template-rows: 1fr 1fr;
}

.page,
.projects,
.rightbar,
.actions,
.announcements,
.trendings {
  gap: 20px;
}

.nav,
.page,
.announcements,
.trendings {
  padding: 20px;
}

/* --------------*/
/*    Projects   */
/* --------------*/

.projects-wrapper {
  background-color: var(--main-bg-color);
}
.projects-wrapper h3,
.description h4,
.announcements-wrapper h3 {
  margin-bottom: 10px;
}

.projects {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.project-card {
  background-color: var(--nav-bg-color);
  height: 250px;
  border-radius: 5px;
  grid-template-columns: 10px 1fr;
}

.project-card .color-line {
  border-radius: 5px 0 0 5px;
  background-color: var(--accent-color);
}

.project-card .right {
  border-radius: 0 5px 5px 0;
  grid-template-rows: 1fr 25px;
  padding: 15px;
}

.right .project-actions {
  justify-self: right;
  align-content: center;
}

.right .project-actions button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.project-card .right p {
  -webkit-line-clamp: 6;
}

/* -------------------*/
/*    Announcements   */
/* -------------------*/

.announcements {
  grid-template-rows: repeat(3, 1fr);
  background-color: var(--nav-bg-color);
  border-radius: 5px;
}

.see-more {
  color: var(--lightest-text-color);
}

.truncate {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* --------------*/
/*    Trending   */
/* --------------*/

.trending-wrapper {
  /* background-color: rgb(197, 197, 197); */
}

.trendings {
  grid-template-rows: repeat(4, 1fr);
  background-color: var(--nav-bg-color);
  border-radius: 5px;
  gap: 30px;
}

.trend {
  grid-template-columns: min-content 1fr;
  gap: 15px;
}

.trend:hover {
  background-color: var(--nav-hover-color);
}

.project {
  color: var(--light-text-color);
}